<!DOCTYPE html>
<html>
<head>
   <title>Fantomes</title>
</head>
<body>
   <h1>Liste de fantomes</h1>
<ul>
   {% for fantome in liste %}
      <li>{{ fantome }}</li>
   {% endfor %}
</ul>
</body>
</html>